.text-field-style {
    -fx-padding: 4; /* Adjust padding size to control the black border thickness */
    -fx-background-color: black, white; /* First layer is black (padding), second is white (actual background) */
    -fx-background-insets: 0, 1.5; /* First layer (black) has no insets, second layer (white) starts after 1.5 pixels */
    -fx-border-color: black;
    -fx-border-width: 1.5;
    -fx-border-radius: 10; /* Rounded edges for the border */
    -fx-background-radius: 10, 8.5; /* Outer radius for black background, slightly smaller for white to fit inside */
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


.left-form {
    -fx-background-color: linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px;
}



.button {
    -fx-padding: 10px 20px; /* Comfortable padding */
    -fx-background-radius: 30px; /* Rounded corners */
    -fx-text-fill: #FFFFFF; /* White text */
    -fx-font-size: 14px; /* Readable font size */
    -fx-background-color: #646464; /* Dark grey background that stands out on black */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0); /* Subtle shadow for depth */
}

.button:hover {
    -fx-background-color: white; /* Lighter grey on hover for visual feedback */
    -fx-text-fill: black; /* Brighter text */
    -fx-effect: dropshadow(three-pass-box, rgba(124,252,0,0.8), 10, 0, 0, 0); /* Neon-like glow effect */
}


/* Assuming the black background is set on the container of the button */
.container {
    -fx-background-color: #000000; /* Pure black background */
}


#pane{
    -fx-background-image: url("Images/BilledeTilFrisoer.jpg");

}
