VBox {
    -fx-spacing: 10;
    -fx-padding: 10;
}

HBox {
    -fx-spacing: 15;
}

Button {
    -fx-font-size: 14px;
    -fx-padding: 8 12;
    -fx-background-color: linear-gradient(to bottom right, #a9adc2, #256b51);
    -fx-text-fill: #fff;
    -fx-background-radius: 15 15 15 15;
    -fx-border-width: 0;
    align-items: center;
    background: #0e0e10;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
}

Label {
    -fx-font-size: 18px;
    -fx-font-family: 'Montserrat', sans-serif;}

TableView {
    -fx-background-color: linear-gradient(to bottom right, #a6acc9, #256b51);
    -fx-border-color: linear-gradient(to bottom right, #b3badc, #256b51);
    -fx-border-radius: 8px;
    -fx-padding: 10px;
}

TableColumn {
    -fx-alignment: CENTER;
    -fx-background-color: linear-gradient(to bottom, #9ba5c7, #315b45);
    -fx-border-color: linear-gradient(to bottom, #9aa2c5, #315b45);
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-padding: 10px;
}

TableColumn:even {
    -fx-background-color: linear-gradient(to bottom, #a5aecb, #315b45);
}

TableColumn:odd {
    -fx-background-color: linear-gradient(to bottom, #a9b0ce, #315b45);
}

TableColumn:hover {
    -fx-background-color: #4caf50;
    -fx-text-fill: #fff;
}

TableColumn:selected {
    -fx-background-color: #4caf50;
    -fx-text-fill: #fff;
}

TableColumn:empty {
    -fx-background-color: linear-gradient(to bottom, #7b85a6, #315b45);
}
