VBox {
    -fx-spacing: 10;
    -fx-padding: 10;
}

HBox {
    -fx-spacing: 15;
}

Button {
    -fx-font-size: 22px;
    -fx-padding: 8 12;
    -fx-background-color: linear-gradient(to bottom right, #99b2ae, #74777c);
    -fx-text-fill: #ffffff;
    -fx-background-radius: 15 15 15 15;
    -fx-border-width: 1;
    align-items: center;
    background: #0e0e10;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
}

Label {
    -fx-font-size: 25px;
    -fx-font-family: 'Candara';
    -fx-font-weight: bold;
}

TableView {
    -fx-background-color: linear-gradient(to bottom right, #6d858a, #839892);
    -fx-border-width: 2px;
    -fx-border-color: rgba(164, 172, 210, 0.5); /* Transparent border color */
    -fx-border-radius: 0px;
    -fx-padding: 10px;
}

TableColumn {
    -fx-alignment: CENTER;
    -fx-background-color: linear-gradient(to bottom, #2b6761, #1b524e);
    -fx-border-color: linear-gradient(to bottom, #496070, #020302);
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-padding: 5px;
}

TableColumn:even {
    -fx-background-color: linear-gradient(to bottom, #a5aecb, #000000);
}

TableColumn:odd {
    -fx-background-color: linear-gradient(to bottom, #a9b0ce, #000000);
}

TableColumn:hover {
    -fx-background-color: #101f11;
    -fx-text-fill: #fff;
}

TableColumn:selected {
    -fx-background-color: #030503;
    -fx-text-fill: #fff;
}

TableColumn:empty {
    -fx-background-color: linear-gradient(to bottom, #7b85a6, #040705);
}


#touch {
    -fx-position: absolute;
    -fx-opacity: 0;
    -fx-height: 0px;
}

/* Checked touch styles */
#touch:pressed + .slide {
    -fx-height: 300px;
}
